.cursor {
  pointer-events: none;
  z-index: 2;
  position: fixed;
  height: 3.5rem;
  width: 3.5rem;
  border: 1px solid transparent;
  border-radius: 50%;

  &.clicked {
    background-color: rgba(255, 255, 255, 0.4);
  }

  -webkit-box-shadow: 0px 0px 42px 10px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 42px 10px rgba(255,255,255,1);
  box-shadow: 0px 0px 42px 10px rgba(255,255,255,1);

  transition: box-shadow 0.75s ease-in-out;
  transition: background-color 0.75s ease-in-out;

  animation-name: rotate;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  ul {
    list-style: none;
  }

  li {
    position: absolute;
    background-color: transparent;

    width: 1.35rem;
    height: 1.35rem;
    border-bottom: transparent 2px;
    border-right: transparent 2px;
    border-bottom-right-radius: 100%;

    -webkit-box-shadow: 1px 1px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(255,255,255,1);
    box-shadow: 1px 1px 1px 0px rgba(255,255,255,1);
  }

  li:first-child {
    top: 5px;
    right: 5px;

    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  li:nth-child(2) {
    bottom: 5px;
    right: 5px;

  }

  li:nth-child(3) {
    bottom: 5px;
    left: 5px;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  li:nth-child(4) {
    top: 5px;
    left: 5px;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.red, .green {
  .cursor{
    transition: box-shadow 0.75s ease-in-out;
    animation-name: rotate-rev;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.red {
  .cursor {
    &.clicked {
      background-color: rgba(239, 40, 40, 0.4);
    }

    -webkit-box-shadow: 0px 0px 42px 10px #ff0000;
    -moz-box-shadow: 0px 0px 42px 10px #ff0000;
    box-shadow: 0px 0px 42px 10px #ff0000;

    li {
      -webkit-box-shadow: 1px 1px 1px 0px #af0e0e;
      -moz-box-shadow: 1px 1px 1px 0px #af0e0e;
      box-shadow: 1px 1px 1px 0px #af0e0e;
    }
  }
}

.green {
  .cursor {
    &.clicked {
      background-color: rgba(44, 165, 44, 0.4);
    }

    -webkit-box-shadow: 0px 0px 42px 10px #2ca52c;
    -moz-box-shadow: 0px 0px 42px 10px #2ca52c;
    box-shadow: 0px 0px 42px 10px #2ca52c;

    li {
      -webkit-box-shadow: 1px 1px 1px 0px #059040;
      -moz-box-shadow: 1px 1px 1px 0px #059040;
      box-shadow: 1px 1px 1px 0px #059040;
    }
  }
}


@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes rotate-rev {
  from {transform: rotate(360deg);}
  to {transform: rotate(0deg);}
}
