.header {
  width: 100%;
  height: 100vh;
  font-size: 8vh;
  font-family: sans-serif;
  background-color: #f3d374;
  // display: none;
  color:transparent;
  background: url('../assets/destiny-bungie-logo-wallpaper-2.jpg') no-repeat center center scroll;
}
