body, html {
  width: 100vw;
  height: 400vh;
  cursor: none;
}

#cursor {
  position: absolute;
  border: 3px solid blue;
  .shared {
    background-color: red;
  }
}

.shared{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: transparent;
}
